<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="vmap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card">
                    <div class="card-header bg-dark bg-gradient">
                        <h3 class="text-white text-center">Log In</h3>
                    </div>
                    <div class="card-body bg-light">
                        <form action="" method="POST" autocomplete="off">
                             {% csrf_token %}
                            <div class="input-group my-3 shadow">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                 <input type="text" name="username" id="" class="form-control p-4" placeholder="Username">
                            </div>
                            <div class="input-group my-4 shadow">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                 <input type="password" name="password" id="" class="form-control p-4" placeholder="password">
                            </div>
                            
                            <div class="text-center mt-3">
                            <button type="submit"  class="btn btn-primary btn-lg">Log in</button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>
    

</body>
</html>


